<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1>Data Registrasi Alumni</h1>
		Welcome <span sec:authentication="principal.username"> User</span>

		<div class="container">
			<table class="table table-striped table-bordered table-hover">
				<thead class="table-dark">
				<tr>
					<!--            <th>No</th>-->
					<th>Nama</th>
					<th>No Hp</th>
					<th>Alamat</th>
					<th>Jurusan</th>
					<th>Ukuran Kemeja</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="data: ${data}">
					<td th:text="${data.nama}"></td>
					<td th:text="${data.noHp}"></td>
					<td th:text="${data.alamat}"></td>
					<td th:text="${data.jurusan}"></td>
					<td th:text="${data.ukuranKemeja}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
