<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Form Registrasi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" th:fragment="header" style="background-color: #d8e7f0">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}" style="color: #031a29">Reuni 35 Tahun ITB 88</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br />
<br />
<br />
<div class="container">
    <div class="row" style="margin-bottom: 60px">
        <img th:src="@{/images/logo_35.png}" alt="Logo" style="width: 180px; height: 150px; position: absolute; top: 60px; left: 10px"/>
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div th:if="${param.success}">
                    <div class="alert alert-info">Data Berhasil Ditambahkan</div>
                </div>
                <div th:if="${param.gagal}">
                    <div class="alert alert-info">Data Gagal Ditambahkan</div>
                </div>
                <div class="card-header">
                    <h3 class="text-center">Form Registrasi</h3>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            th:action="@{/save}"
                            th:object="${data}"
                            class="form-horizontal"
                            role="form"
                    >
                        <div class="mb-3">
                            <label class="control-label">Nama</label>
                            <input type="text"
                                   id="nama"
                                   name="nama"
                                   class="form-control"
                            />
<!--                            <span th:if="${#nama.hasErrors('nama')}" th:errors="*{nama}"></span>-->
                        </div>

                        <div class="mb-3">
                            <label class="control-label">No Hp</label>
                            <input type="text"
                                   id="noHp"
                                   name="noHp"
                                   class="form-control"
                            />
<!--                            <span th:if="${#noHp.hasErrors('noHp')}" th:errors="*{noHp}"></span>-->
                        </div>

                        <div class="mb-3">
                            <label class="control-label">Alamat</label>
                            <input type="text"
                                   id="alamat"
                                   name="alamat"
                                   class="form-control"
                            />
<!--                            <span th:if="${#alamat.hasErrors('alamat')}" th:errors="*{alamat}"></span>-->
                        </div>

                        <div class="mb-3">
                            <label class="control-label">Jurusan</label>
                            <select class="form-control"
                                    id="jurusan" name="jurusan"
                                    required
                                    autocomplete="off">
                                <option value=""></option>
                                <option th:each="option : ${T(net.javaguides.springboot.enums.JurusanEnum).values()}"
                                        th:value="${option.value}"
                                        th:text="${option.value}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="control-label">Size Chart</label>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td>Ukuran</td>
                                    <td>LD (cm)</td>
                                    <td>Panjang (cm)</td>
                                </tr>
                                <tr>
                                    <td>XS</td>
                                    <td>48</td>
                                    <td>64</td>
                                </tr>
                                <tr>
                                    <td>S</td>
                                    <td>50</td>
                                    <td>66</td>
                                </tr>
                                <tr>
                                    <td>M</td>
                                    <td>52</td>
                                    <td>68</td>
                                </tr>
                                <tr>
                                    <td>L</td>
                                    <td>54</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>XL</td>
                                    <td>56</td>
                                    <td>72</td>
                                </tr>
                                <tr>
                                    <td>XXL</td>
                                    <td>58</td>
                                    <td>75</td>
                                </tr>
                                <tr>
                                    <td>4XL</td>
                                    <td>60</td>
                                    <td>78</td>
                                </tr>
                                <tr>
                                    <td>5XL</td>
                                    <td>63</td>
                                    <td>82</td>
                                </tr>
                            </table>
                        </div>

                        <div class="mb-3">
                            <label class="control-label">Ukuran Kemeja</label>
                            <select class="form-control"
                                    id="ukuranKemeja" name="ukuranKemeja"
                                    required
                                    autocomplete="off">
                                <option value=""></option>
                                <option th:each="option : ${T(net.javaguides.springboot.enums.Ukuran).values()}"
                                        th:value="${option.value}"
                                        th:text="${option.value}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>