<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #d8e7f0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <span class="navbar-brand" href="#" style="color: #031a29">Reuni 35 Tahun ITB 88</span>
            <div class="navbar-brand" style="color: #010d14; text-align: right; justify-content: right; margin-right: 5px">
                <span style="position: absolute; right: 90px" sec:authentication="principal.username">User</span>
                <span style="position: absolute; right: 25px" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
            </div>

        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <h2 style="text-align: center">Data Registrasi Alumni</h2>
    <table th:border="0" style="margin-bottom: 20px; margin-top: 40px">
        <tr>
            <td>
                <div sec:authorize= "!hasRole('ROLE_ADMIN')" >
                    <form th:action="@{/print-data}">
                        <button class="form-control btn btn-primary" style="margin-left: 15px">
                            <i class="fas fa-print" ></i> Print
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <div class="container-round">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th style="text-align: center">No</th>
                <th style="text-align: center">Nama</th>
                <th style="text-align: center">No Hp</th>
                <th style="text-align: center">Alamat</th>
                <th style="text-align: center">Jurusan</th>
                <th style="text-align: center">Ukuran Kemeja</th>
                <div sec:authorize= "hasRole('ROLE_ADMIN')">
                    <th style="text-align: center">Action</th>
                </div>

            </tr>
            </thead>
            <tbody>
            <tr th:each="data, rowStat: ${data.content}">
                <td th:text="${(currentPage - 1) * pageSize + rowStat.count}"></td>
                <td th:text="${data.nama}"></td>
                <td th:text="${data.noHp}"></td>
                <td th:text="${data.alamat}"></td>
                <td th:text="${data.jurusan}"></td>
                <td th:text="${data.ukuranKemeja}"></td>
            </tr>
            </tbody>
        </table>

        <div class="flex pagination" style="display: flex; justify-content: flex-end">
            <nav aria-label="Page navigation">
                <p style="text-align: right; margin-top: 2px">
                    <span th:text="'Total Data ' + ${#lists.size(data.content)} + ' of ' + ${data.totalElements}"></span>
                </p>
                <p style="text-align: right; margin-top: 2px" >
                    <span th:text="'Page ' +${data.number + 1}+ ' of ' + ${data.totalPages}"></span>
                </p>
                <ul class="pagination">
                    <li th:class="${data.first ? 'disabled' : ''}" class="page-item">
                        <a th:href="@{'?page=' + ${data.number - 1}}">Previous</a>
                    </li>
                    <li th:if="${data.totalElements > 0}" th:each="i : ${#numbers.sequence(0, data.totalPages - 1)}"
                        th:class="${data.number == i ? 'active' : ''}" class="page-item">
                        <a th:href="@{'?page=' + ${i}}">
                            <span th:text="${i + 1}" class="page-link"></span>
                        </a>
                    </li>
                    <li th:class="${data.last ? 'disabled' : ''}" class="page-item">
                        <a th:href="@{'?page=' + ${data.number + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <p></p>

</div>
</body>
</html>
