<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration and Login App</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #d8e7f0">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<span class="navbar-brand" href="#" style="color: #031a29">Reuni 35 Tahun ITB 88</span>
			<span class="navbar-brand" href="#" style="color: #031a29; margin-left: 20px"><a th:href="@{/super-admin}"><i class="fas fa-home" ></i> Beranda</a></span>
			<span class="navbar-brand" href="#" style="color: #031a29;"><a th:href="@{/page-trash}"><i class="fas fa-trash" ></i> Data yang dihapus</a></span>
			<div class="navbar-brand" style="color: #010d14; text-align: right; justify-content: right; margin-right: 5px">
				<span style="position: absolute; right: 90px" sec:authentication="principal.username">User</span>
				<span style="position: absolute; right: 25px" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
			</div>

		</div>
	</div>
</nav>

<br>
<br>

<div class="container">
	<h2 style="text-align: center" sec:authorize= "hasRole('ROLE_ADMIN')">Data Registrasi Alumni</h2>
	<table th:border="0" style="margin-bottom: 20px; margin-top: 40px">
		<tr>
			<td colspan="3">
				<div sec:authorize= "hasRole('ROLE_ADMIN')" >
					<form th:action="@{/findByJurusan}" method="get" style="margin-left: 10px">
						<table>
							<tr>
								<td>
									<label for="jurusan" style="margin-right: 5px">Filter by Jurusan : </label>
								</td>
								<td>
									<select id="jurusan" name="jurusan" class="form-control">
										<option value=""></option>
										<option th:each="option : ${T(net.javaguides.springboot.enums.JurusanEnum).values()}"
												th:value="${option.value}"
												th:text="${option.value}"></option>
									</select>
								</td>
								<td>
									<button class="form-control btn btn-primary" type="submit" style="margin-left: 10px">Filter</button>
								</td>
								<td>
									<button class="form-control btn btn-primary" type="submit" style="margin-left: 15px" onclick="window.location.href = '/super-admin'">Refresh</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</td>

			<td>
				<div sec:authorize= "hasRole('ROLE_ADMIN')" >
					<form th:action="@{/print-data}" method="get" style="margin-left: 60px">
						<table>
							<tr>
								<td>
									<label for="printBy" style="margin-right: 5px">Print Sort By: </label>
								</td>
								<td>
									<select id="printBy" name="printBy" class="form-control">
										<option value=""></option>
										<option th:each="option : ${T(net.javaguides.springboot.enums.PrintBy).values()}"
												th:value="${option.value}"
												th:text="${option.value}"></option>
									</select>
								</td>
								<td>
									<button class="form-control btn btn-primary" type="submit" style="margin-left: 10px"><i class="fas fa-print" ></i> Print</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
				<div sec:authorize= "!hasAnyRole('ROLE_ADMIN', 'ROLE_SEK')" >
					<form th:action="@{/print-data}">
						<button class="form-control btn btn-primary" style="margin-left: 15px">
							<i class="fas fa-print" ></i> Print
						</button>
					</form>
				</div>
			</td>
		</tr>
	</table>

	<div sec:authorize= "hasAnyRole('ROLE_ADMIN', 'ROLE_SEK')" style="display: flex; justify-content: flex-end">
		<div style="width: 200px; height: 30px; background-color: #620505; color: #fcfafa; margin-bottom: 5px;">
			<p th:text="'Total Data Keseluruhan ' + ${totDat}" style="margin: 3px; padding: 5px; text-align: center; font-size: 11pt" ></p>
		</div>
	</div>
	<div class="container-round" sec:authorize= "hasRole('ROLE_ADMIN')">
		<table class="table table-striped table-bordered table-hover">
			<thead class="table-dark">
			<tr>
				<th style="text-align: center">No</th>
				<th style="text-align: center">Nama</th>
				<th style="text-align: center">No Hp</th>
				<th style="text-align: center">Alamat</th>
				<th style="text-align: center">Jurusan</th>
				<th style="text-align: center">Ukuran Kemeja</th>
				<div sec:authorize= "hasRole('ROLE_ADMIN')">
					<th style="text-align: center">Action</th>
				</div>

			</tr>
			</thead>
			<tbody>
			<tr th:each="data, rowStat: ${data.content}">
				<td th:text="${(currentPage - 1) * pageSize + rowStat.count}"></td>
				<td th:text="${data.nama}"></td>
				<td th:text="${data.noHp}"></td>
				<td th:text="${data.alamat}"></td>
				<td th:text="${data.jurusan}"></td>
				<td th:text="${data.ukuranKemeja}"></td>
				<div>
					<td style="text-align: center; min-width: 20vh">
						<a th:href="@{/edit/{id}(id=${data.id})}"><i class="fas fa-edit" ></i> Edit</a>
						<a th:href="@{/delete/{id}(id=${data.id})}" onclick="return showConfirmationAlert()">
							<i class="fas fa-trash" style="margin-left: 10px;"></i> Hapus
						</a>
					</td>

				</div>
			</tr>
			</tbody>
		</table>

		<div class="flex pagination" style="display: flex; justify-content: flex-end">
			<nav aria-label="Page navigation">
				<p style="text-align: right; margin-top: 2px">
					<span th:text="'Total Data ' + ${#lists.size(data.content)} + ' of ' + ${data.totalElements}"></span>
				</p>
				<p style="text-align: right; margin-top: 2px" >
					<span th:text="'Page ' +${data.number + 1}+ ' of ' + ${data.totalPages}"></span>
				</p>

				<ul class="pagination" th:if="${selectedJurusan != null}">
					<li th:class="${data.first ? 'disabled' : ''}" class="page-item">
						<a th:href="@{'/findByJurusan?page=' + ${data.number - 1} + '&jurusan=' + ${selectedJurusan}}">Previous</a>
					</li>
					<li th:if="${data.totalElements > 0}" th:each="i : ${#numbers.sequence(0, data.totalPages - 1)}"
						th:class="${data.number == i ? 'active' : ''}" class="page-item">
						<a th:href="@{'/findByJurusan?page=' + ${i} + '&jurusan=' + ${selectedJurusan}}">
							<span th:text="${i + 1}" class="page-link"></span>
						</a>
					</li>
					<li th:class="${data.last ? 'disabled' : ''}" class="page-item">
						<a th:href="@{'/findByJurusan?page=' + ${data.number + 1} + '&jurusan=' + ${selectedJurusan}}">Next</a>
					</li>
				</ul>

				<ul class="pagination" th:if="${selectedJurusan == null}">
					<li th:class="${data.first ? 'disabled' : ''}" class="page-item">
						<a th:href="@{'/super-admin?page=' + ${data.number - 1} + '&jurusan=' + ${selectedJurusan}}">Previous</a>
					</li>
					<li th:if="${data.totalElements > 0}" th:each="i : ${#numbers.sequence(0, data.totalPages - 1)}"
						th:class="${data.number == i ? 'active' : ''}" class="page-item">
						<a th:href="@{'/super-admin?page=' + ${i} + '&jurusan=' + ${selectedJurusan}}">
							<span th:text="${i + 1}" class="page-link"></span>
						</a>
					</li>
					<li th:class="${data.last ? 'disabled' : ''}" class="page-item">
						<a th:href="@{'/super-admin?page=' + ${data.number + 1} + '&jurusan=' + ${selectedJurusan}}">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<p></p>
	<div sec:authorize= "hasAnyRole('ROLE_ADMIN', 'ROLE_SEK')" >
		<h3 style="text-align: center">Data Jumlah Registrasi Alumni Tiap Jurusan</h3>
		<form th:action="@{/print-total-data}" style="width: 70px; align-items: end; margin-bottom: 10px">
			<button class="form-control btn btn-primary" style="margin-left: 5px">
				<i class="fas fa-print" ></i> Print
			</button>
		</form>
		<table th:border="0" style="width: 100%; justify-content: center">
			<tr>
				<td>
					<table class="table table-striped table-bordered table-hover" style="width: 80%">
						<tr>
							<td style="text-align: center">Jurusan</td>
							<td style="text-align: center">Jumlah Yang Telah Registrasi</td>
						</tr>
						<tr>
							<td>Astronomi</td>
							<td style="text-align: center"><span th:text="${dataAS}" ></span></td>
						</tr>
						<tr>
							<td>Matematika</td>
							<td style="text-align: center"><span th:text="${dataMA}" ></span></td>
						</tr>
						<tr>
							<td>Fisika</td>
							<td style="text-align: center"><span th:text="${dataFI}" ></span></td>
						</tr>
						<tr>
							<td>Kimia</td>
							<td style="text-align: center"><span th:text="${dataKI}" ></span></td>
						</tr>
						<tr>
							<td>Biologi</td>
							<td style="text-align: center"><span th:text="${dataBI}" ></span></td>
						</tr>
						<tr>
							<td>Farmasi</td>
							<td style="text-align: center"><span th:text="${dataFA}" ></span></td>
						</tr>
						<tr>
							<td>Geofisika dan Meteorologi</td>
							<td style="text-align: center"><span th:text="${dataGM}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Geologi</td>
							<td style="text-align: center"><span th:text="${dataGL}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Pertambangan</td>
							<td style="text-align: center"><span th:text="${dataTA}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Perminyakan</td>
							<td style="text-align: center"><span th:text="${dataTM}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Mesin</td>
							<td style="text-align: center"><span th:text="${dataMS}" ></span></td>
						</tr>

					</table>
				</td>
				<td colspan="10"></td>
				<td>
					<table class="table table-striped table-bordered table-hover" style="width: 80%">
						<tr>
							<td style="text-align: center">Jurusan</td>
							<td style="text-align: center">Jumlah Yang Telah Registrasi</td>
						</tr>
						<tr>
							<td>Teknik Kimia</td>
							<td style="text-align: center"><span th:text="${dataTK}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Elektro</td>
							<td style="text-align: center"><span th:text="${dataEL}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Fisika</td>
							<td style="text-align: center"><span th:text="${dataTF}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Informatika</td>
							<td style="text-align: center"><span th:text="${dataIF}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Industri</td>
							<td style="text-align: center"><span th:text="${dataTI}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Sipil</td>
							<td style="text-align: center"><span th:text="${dataSI}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Geodesi</td>
							<td style="text-align: center"><span th:text="${dataGD}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Arsitektur</td>
							<td style="text-align: center"><span th:text="${dataAR}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Planologi</td>
							<td style="text-align: center"><span th:text="${dataPL}" ></span></td>
						</tr>
						<tr>
							<td>Teknik Lingkungan</td>
							<td style="text-align: center"><span th:text="${dataTL}" ></span></td>
						</tr>
						<tr>
							<td>FSRD</td>
							<td style="text-align: center"><span th:text="${dataFSRD}" ></span></td>
						</tr>


					</table>
				</td>
			</tr>
		</table>
	</div>

</div>
<script>
	function showConfirmationAlert() {
		if (confirm('Apakah Anda yakin ingin menghapus data ini?')) {
		}
	}
</script>
</body>
</html>
