<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #d8e7f0">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <span class="navbar-brand" href="#" style="color: #031a29">Reuni 35 Tahun ITB 88</span>
            <span class="navbar-brand" href="#" style="color: #031a29; margin-left: 20px"><a th:href="@{/super-admin}"><i class="fas fa-home" ></i> Beranda</a></span>
            <span class="navbar-brand" href="#" style="color: #031a29;"><a th:href="@{/page-trash}"><i class="fas fa-trash" ></i> Data yang dihapus</a></span>
            <div class="navbar-brand" style="color: #010d14; text-align: right; justify-content: right; margin-right: 5px">
                <span style="position: absolute; right: 90px" sec:authentication="principal.username">User</span>
                <span style="position: absolute; right: 25px" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
            </div>

        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div>
        <h2 style="text-align: center">Data Yang Telah Dihapus</h2>
        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 50px">
            <thead class="table-dark">
            <tr>
                <th style="text-align: center">No</th>
                <th style="text-align: center">Id</th>
                <th style="text-align: center">Id Data</th>
                <th style="text-align: center">Nama</th>
                <th style="text-align: center">No Hp</th>
                <th style="text-align: center">Alamat</th>
                <th style="text-align: center">Jurusan</th>
                <th style="text-align: center">Ukuran Kemeja</th>
                <div sec:authorize= "hasRole('ROLE_ADMIN')">
                    <th style="text-align: center">Action</th>
                </div>

            </tr>
            </thead>
            <tbody>
            <tr th:each="data, rowStat: ${dataTrash}">
                <td th:text="${(currentPage - 1) * pageSize + rowStat.count}"></td>
                <td th:text="${data.id}"></td>
                <td th:text="${data.idData}"></td>
                <td th:text="${data.nama}"></td>
                <td th:text="${data.noHp}"></td>
                <td th:text="${data.alamat}"></td>
                <td th:text="${data.jurusan}"></td>
                <td th:text="${data.ukuranKemeja}"></td>
                <div sec:authorize= "hasRole('ROLE_ADMIN')">
                    <td style="text-align: center; min-width: 20vh">
                        <a th:href="@{/sync/{id}(id=${data.id})}"><i class="fas fa-sync" ></i> Sync</a>
                    </td>

                </div>
            </tr>
            </tbody>
        </table>
        <div class="flex pagination" style="display: flex; justify-content: flex-end">
            <nav aria-label="Page navigation">
                <p style="text-align: right; margin-top: 2px">
                    <span th:text="'Total Data ' + ${#lists.size(dataTrash.content)} + ' of ' + ${dataTrash.totalElements}"></span>
                </p>
                <p style="text-align: right; margin-top: 2px" >
                    <span th:text="'Page ' +${dataTrash.number + 1}+ ' of ' + ${dataTrash.totalPages}"></span>
                </p>
                <ul class="pagination">
                    <li th:class="${dataTrash.first ? 'disabled' : ''}" class="page-item">
                        <a th:href="@{'?page=' + ${dataTrash.number - 1}}">Previous</a>
                    </li>
                    <li th:if="${dataTrash.totalElements > 0}" th:each="i : ${#numbers.sequence(0, dataTrash.totalPages - 1)}"
                        th:class="${dataTrash.number == i ? 'active' : ''}" class="page-item">
                        <a th:href="@{'?page=' + ${i}}">
                            <span th:text="${i + 1}" class="page-link"></span>
                        </a>
                    </li>
                    <li th:class="${dataTrash.last ? 'disabled' : ''}" class="page-item">
                        <a th:href="@{'?page=' + ${dataTrash.number + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>
