<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Data Registrasi</title>
</head>
<body>
<h3 style="text-align: center">Data Yang Telah Registrasi</h3>
<table border="1" style="min-width: 50vh; margin-left: 220px; display: flex; justify-content: center">
    <thead>
    <tr>
        <th style="text-align: center">No</th>
        <th style="text-align: center;">Jurusan</th>
        <th style="text-align: center;">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data, index : ${datas}">
        <td style="text-align: center" th:text="${index.count}"></td>
        <td th:text="${data.jurusan}"></td>
        <td style="text-align: center" th:text="${data.total}"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">Total</td>
        <td style="text-align: center" th:text="${data}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
